/* MOBILE 320PX */
.main-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "main";
}

/* GRID AREA PROPERTIES */
header {
  grid-area: header;
  background-color: #9999CC;
}

nav {
  grid-area: nav;
  background-color: #666699;
}

main {
  grid-area: main;
}

/* TABLET 768PX */
@media (min-width: 768px) {
  .main-container {
    grid-template-columns: 5% 47.5% 47.5%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
  }
}

/* DESKTOP 1024PX */
@media (min-width: 1024px) {
  .main-container {
    grid-template-columns: 5% 47.5% 47.5%;
    grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main"
  }
}
