* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after{
  clear: both;
}

/* HEADER STYLES */

.appName {
font-weight: bold;
color: white;
display: inline-block;
}

.appName h2{
margin: 10%;
float: left;
}

.appNameSpan {
font-weight: lighter;
}

.header-right {
  display: inline;
  position: absolute;
  right: 10px;
}

.bell {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.header-right img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.vertical-line {
  display: inline-block;
  border: 1px solid #CCCCCC;
  background-color: #CCCCCC;
  width: 1px;
}

.profile-name {
  display: inline-block;
}

.header-right p{
  display: inline-block;
}

/* NAV STYLES */
nav ul {
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  margin: 2.5%;
  padding: 0;
  display: inline-block;
}

.icons {
  width: 40px;
  height: 40px;
}

/* MAIN STYLES */

/* ********************************DASHBOARD & SEARCH******************************** */
.dashboard-title {
  display: inline-block;
  margin-left: 2.5%;
}

.dashboard-search {
  margin-top: 5%;
  display: inline-block;
  position: absolute;
  right: 10px;
}
/* ********************************ALERT******************************** */
main .alert {
  padding: 1px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #9999CC;
  color: white;
}

main .alert span {
  font-weight: bold;
}

.alert-button {
  position: absolute;
  float: right;
  right: 10px;
  background-color: #9999CC;
  border: none;
  color: white;
}

/* ********************************CHARTS******************************** */

/* ********************************SOCIAL-STATS******************************** */
.social-stats-container {
  width: 95%;
  margin-left: 2.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

.logo {
  margin-top: 12.5px;
  width: 45px;
  height: 45px;
}

.stats {
  text-align: center;
  padding: 5%;
  display: inline;
  border: 1px solid black;
  background-color: #edeff2;
}

.sm-platform {
  font-size: 18px;
  font-weight: bold;
  color: #9999CC;
  margin: 0;
}

.count {
  font-size: 26px;
  font-weight: lighter;
  color: black;
  letter-spacing: 1px;
  margin: 0;
}

.info {
  display: inline-block;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #9999CC;
  display: inline-block;
  border-radius: 50%;
}

/* ********************************four grid layout******************************** */

/* ********************************New Members******************************** */
.new-members {
  width: 95%;
  text-align: center;
}

.new-members h4{
  text-align: left;
}

.new-members img  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.new-members li  {
  list-style-type: none;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
